- var screen_3xl = "1920px" //REFER TO TAILWIND CONFIG
- var screen_md = "768px" //REFER TO TAILWIND CONFIG

include mixin_responsive_image.pug 

mixin a_ref(ref)
    if ref 
        a(href=ref)
            block 
    else 
        block

mixin pf_description({title, description, tools} = {})
     div(class="flex flex-wrap m-auto")
        div(class="w-full md:w-full p-3 py-8")
            h2(class="text-8xl text-left")= title
        p(class="text-xl w-full md:w-1/4 p-3") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-3").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-3") ↝ !{space(4)} Tools used
        p(class="text-xl w-full md:w-3/4 p-3")= tools

mixin pf_img({name, source, ref, width="1/2", aspect_ratio="1/1", description, is_video=false} = {})
    - 
        var eval_aspect_ratio = "aspect-["+aspect_ratio+"]"
        var ar_modifier = 1;
    if (aspect_ratio != "auto" && !filters.is_video(source))
        - var aspect_ratio = eval(aspect_ratio);
        - const fallback = get_fallback(source);
        - var og_img_ar = fallback.width / fallback.height;
        if (og_img_ar > aspect_ratio)
            - ar_modifier = og_img_ar / aspect_ratio;
    
    - var w_modifier = 1;
    if (width != "full")
        - w_modifier = eval(width);
    - var image_mul = eval(w_modifier+"*"+ar_modifier).toString()
    - var sizes = "(max-width: "+screen_md+") 100vw, (min-width: "+screen_3xl+") calc("+screen_3xl+" * "+image_mul+"), calc(100vw * "+image_mul+")"
    
    div(class="w-full md:w-"+width+" p-3")
        +a_ref(ref)
            if filters.is_video(source)
                video(class=eval_aspect_ratio+" w-full object-cover" loop autoplay playsinline muted src=source) 
            else
                +responsive_image(source, sizes)(alt="" class=eval_aspect_ratio+" w-full object-cover")
            div(class="w-full items-start")
                if name
                    if description
                        - name = name+" • "
                    span(class="")= name
                    span(class="text-xs")= description
    //-empty image for whitespace
    if width == "1/4"
        div(class="w-full md:w-"+width+" p-2 invisible")
    if width == "1/3"
        div(class="w-full md:w-1/6 p-2 invisible")