-
  function get_fallback(path){
    const data = collections.img_collection["src"+path];
    const fb_sources = Object.values(data);
    //- First source under first format.
    const fallback = fb_sources[fb_sources.length -1][fb_sources[0].length-1];
    return fallback;
  }

mixin responsive_image(path, sizes, id="res-img")
  - const data = collections.img_collection["src"+path];
  - const fallback = get_fallback(path);
  picture(id=id)
    each value, format in data
      - let srcset_collection = [];
      - let srcType = value[0].sourceType;
      each source in value
        - srcset_collection.push(source.srcset)
      source(type=srcType srcset=srcset_collection.toString() sizes=sizes) 
      //- id=id+"-"+srcType 
    img(src=fallback.url)&attributes(attributes) 
    //- id=id+"-fallback" 

mixin carousel_script({id="carousel", interval=800} = {})
  script.
    let currentIndex = 0;
    // Get all images with the id of carousel
    const images = document.querySelectorAll('[id^="!{id}-"]');
    //- console.log(images);
    for (let i = 1; i < images.length; i++) {
      images[i].style.display = 'none';
    }
    function changeImage() {
      images[currentIndex].style.display = 'none';
      currentIndex = (currentIndex + 1) % images.length;
      images[currentIndex].style.display = 'block';
    }
    setInterval(changeImage, !{interval});