include space_mixin.pug

header(class="fixed w-full top-0 z-40 landscape:rotated-nav")
    nav(class="flex flex-wrap items-center justify-between \
    w-full landscape:px-16 landscape:py-10 \
    text-5xl md:text-sm text-black dark:text-white")
        //- div 
            //- a(href="#" class="") Jérôme Stephan 
        svg(xmlns="http://www.w3.org/2000/svg"
            id="menu-button"
            class="ml-auto mr-3 mt-3 z-50 h-6 w-12 cursor-pointer md:hidden block stroke-black dark:stroke-white"
            fill="none"
            viewBox="0 0 24 24")
            path(stroke-linecap="square"
                stroke-linejoin="square"
                stroke-width="2"
                d="M2 6h48M2 12h48")
        div(class="hidden \
        max-md:top-0 max-md:right-0 max-md:left-0 max-md:bottom-0 max-md:fixed w-full max-md:bg-bg max-md:dark:bg-dark-bg \
        md:flex md:items-center py-0 md:w-auto" id="menu")
            ul(class="pt-40 px-3 \
              md:flex \
              md:justify-between \
              md:pt-0")
                each entry in filters.eleventyNavigation(collections.all)
                    li 
                        a(href=entry.url class="px-3 block") #{entry.key}
                each element in socials 
                    if !element.hidden
                        a(href=element.link target="_blank" rel="noopener noreferrer" class="px-3 block md:hidden")= element.site

        div(class="hidden md:flex px-2")
            input(type="checkbox" id="dark-mode-toggle" class="hidden" onchange="color_toggle()")
            label(for="dark-mode-toggle" class="")
                a(class="inline dark:hidden") Dark Mode
                a(class="hidden dark:inline") Light Mode

footer(class="fixed w-full bottom-0 z-40 landscape:rotated-footer")
    div(class="landscape:px-16 landscape:py-10 flex flex-wrap items-center justify-between text-sm")
        div(class="hidden md:block")
            each element in socials 
                if !element.hidden
                    a(href=element.link target="_blank" rel="noopener noreferrer" class="px-3")= element.site
        +spacer("1.5rem")
        span(class="px-2") © Jérôme Stephan 2023