include space_mixin.pug

header(class="fixed w-full top-0 z-40 landscape:rotated-nav")
    nav(class="flex flex-wrap items-center justify-between \
    w-full landscape:px-16 landscape:py-6 \
    text-3xl md:text-sm text-black dark:text-white")
        //- div 
            //- a(href="#" class="") Jérôme Stephan 
        svg(xmlns="http://www.w3.org/2000/svg"
            id="menu-button"
            class="ml-auto p-4 mr-4 z-50 h-6 w-12 cursor-pointer md:hidden block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor")
            path(stroke-linecap="square"
                stroke-linejoin="square"
                stroke-width="2"
                d="M2 6h48M2 12h48")
        div(class="hidden \
        max-md:top-0 max-md:right-0 max-md:left-0 max-md:bottom-0 max-md:fixed w-full max-md:bg-bg max-md:dark:bg-dark-bg \
        md:flex md:items-center py-0 md:w-auto" id="menu")
            ul(class="pt-16 \
              text-gray-700 \
              md:flex \
              md:justify-between \
              md:pt-0")
                each entry in filters.eleventyNavigation(collections.all)
                    li 
                        a(href=entry.url class="px-3 block") #{entry.key}

        div(class="hidden md:flex px-2")
            input(type="checkbox" id="dark-mode-toggle" class="hidden" onchange="color_toggle()")
            label(for="dark-mode-toggle" class="")
                a(class="inline dark:hidden") Dark Mode
                a(class="hidden dark:inline") Light Mode

footer(class="fixed w-full bottom-0 z-40 landscape:rotated-footer")
    div(class="landscape:px-16 landscape:py-6 flex flex-wrap items-center justify-between text-sm")
        div(class="")
            a(href="https://instagram.com/jerostephan" target="_blank" rel="noopener noreferrer" class="px-3") Instagram
            a(href="https://artstation.com/jerostephan" target="_blank" rel="noopener noreferrer" class="px-3") ArtStation
            a(href="https://behance.net/jeromestephan" target="_blank" rel="noopener noreferrer" class="px-3") Behance
        +spacer("1.5rem")
        span(class="px-2") © Jérôme Stephan 2022