- var screen_3xl = "1920px" //REFER TO TAILWIND CONFIG
- var screen_md = "768px" //REFER TO TAILWIND CONFIG

include mixin_responsive_image.pug 

//- →
mixin a_ref(ref)
    if ref 
        a(href=ref).contents
            block 
    else 
        block

mixin pf_description({title, description, tools} = {})
     div.flexcon
        div(class="w-full md:w-full p-def-2")
            h1(class="text-left break-words")= title
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-def-2").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Tools used
        p(class="text-xl w-full md:w-3/4 p-def-2")= tools

mixin blog_description({title, description, tags, date} = {})
    div.flexcon
        div(class="w-full md:w-full p-def-2")
            h1(class="text-left break-words")= title
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-def-2").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Tags
        p(class="text-xl w-full md:w-3/4 p-def-2")
            each tag in tags
                a(href=`/Blog/tag/${tag}/`) ##{tag}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Date
        p(class="text-xl w-full md:w-3/4 p-def-2")= date

mixin pf_div({width="1/2", paddings=" p-def-2 py-def", ref} = {})
    +a_ref(ref)
        div(class="w-full md:w-"+width+paddings)
            block

mixin pf_img({name, source, ref, width="1/2", aspect_ratio="1/1", description, has_sound=false, name_classes="", description_classes="", blog=false} = {})
    - 
        var eval_aspect_ratio = "aspect-["+aspect_ratio+"]"
        var ar_modifier = 1;
    if (aspect_ratio != "auto" && !filters.is_video(source))
        - var aspect_ratio = eval(aspect_ratio);
        - const fallback = get_fallback(source);
        - var og_img_ar = fallback.width / fallback.height;
        if (og_img_ar > aspect_ratio)
            - ar_modifier = og_img_ar / aspect_ratio;
    
    - var w_modifier = 1;
    if (width != "full")
        - w_modifier = eval(width);
    - var image_mul = eval(w_modifier+"*"+ar_modifier).toString()
    - var sizes = "(max-width: "+screen_md+") 100vw, (min-width: "+screen_3xl+") calc("+screen_3xl+" * "+image_mul+"), calc(100vw * "+image_mul+")"
    
    if (blog)
        - var paddings = " "
    +pf_div({width:width, paddings:paddings, ref:ref})
        if filters.is_video(source)
            video(class=eval_aspect_ratio+" w-full object-cover" loop controls=has_sound autoplay=!has_sound muted=!has_sound playsinline src=source) 
        else if filters.is_svg(source)
            != filters.inline_svg("_site"+source)
        else if source != ""
            +responsive_image(source, sizes)(alt="" class=eval_aspect_ratio+" w-full object-cover")
        div(class="w-full items-start leading-none mt-1")
            if name
                if description
                    - name = name+" • "
                span(class=""+name_classes)= name
                span(class="text-xs"+description_classes)= description

mixin pf_text({text, type, ref, width="1/2", text_classes="", padding} = {})
    +pf_div({width:width, paddings:padding, ref:ref})
        div(class="w-full items-start mt-1")
            if (type=="header")
                h1(class=""+text_classes)= text
            else if (type=="subheader")
                h2(class=""+text_classes)= text
            else if (type=="subsubheader")
                h3(class=""+text_classes)= text
            else 
                if (text_classes == "")
                    - text_classes = "text-xl"
                p(class=""+text_classes).
                    !{text}