- var screen_3xl = "1920px" //REFER TO TAILWIND CONFIG
- var screen_md = "768px" //REFER TO TAILWIND CONFIG

include mixin_responsive_image.pug 

//- →
mixin a_ref(ref)
    if ref 
        a(href=ref).contents
            block 
    else 
        block

mixin pf_description({title, description, tools} = {})
     div.flexcon
        div(class="w-full md:w-full p-def-2")
            h1(class="text-left break-words")= title
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-def-2").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Tools used
        div(class="text-xl w-full md:w-3/4 p-def-2 -mb-def-2")
            - var tools = tools.split(", ")
            each tool, index in tools
                if tool in collections.icons 
                    div(class="has-tooltip tabindex="+index+" inline-block pb-def-2")
                        span(class="tooltip align-middle p-1 bg-base-dark dark:bg-base-bright text-bg dark:text-bg-dark mt-12") !{tool}
                        span(class="inline-block w-8 h-8 align-middle dark:invert")
                            +handle_source({source:collections.icons[tool], aspect_ratio:"auto"})
                        if index != tools.length-1
                            span !{space(4)}
                else if index == tools.length-1
                    span #{tool}
                else 
                    span #{tool}, 

mixin blog_description({title, description, tags, date} = {})
    div.flexcon
        div(class="w-full md:w-full p-def-2")
            h1(class="text-left break-words")= title
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-def-2").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Tags
        p(class="text-xl w-full md:w-3/4 p-def-2")
            each tag in tags
                a(href=`/Blog/tag/${tag}/`) ##{tag}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Date
        p(class="text-xl w-full md:w-3/4 p-def-2")= date

mixin pf_div({width="1/2", paddings=" p-def-2 py-def", ref} = {})
    +a_ref(ref)
        div(class="w-full md:w-"+width+paddings)
            block

mixin handle_source({source, aspect_ratio, width="full", has_sound, id} = {})
    include _eval_ar_sizes.pug

    if filters.is_video(source)
        video(class=eval_aspect_ratio+" w-full object-cover" loop controls=has_sound autoplay=!has_sound muted=!has_sound playsinline src=source id=id) 
    else if filters.is_svg(source)
        != filters.inline_svg("_site"+source)
    else if source != ""
        +responsive_image(source, sizes, id)(alt="" class=eval_aspect_ratio+" w-full object-cover")

mixin pf_img({name, source, ref, width="1/2", aspect_ratio="1/1", description, has_sound=false, name_classes="", description_classes="", blog=false, carousel_interval} = {})
    if (blog)
        - var paddings = " "
    +pf_div({width:width, paddings:paddings, ref:ref})
        - var is_carousel = Array.isArray(source)
        if is_carousel
            - var og_source = source
            - var hash_id = Math.random().toString(36).substring(7)
            - var carousel_id = 0
            each source in og_source
                //- - console.log("Handling source "+source + " with id "+hash_id+"-"+carousel_id)
                +handle_source({source:source, aspect_ratio:aspect_ratio, width:width, has_sound:has_sound, id:hash_id+"-"+carousel_id})
                - carousel_id++
            +carousel_script({id:hash_id, interval:carousel_interval})
        else
            +handle_source({source:source, aspect_ratio:aspect_ratio, width:width, has_sound:has_sound})
        div(class="w-full items-start leading-none mt-1 flex")
            if name
                if description
                    //- - name = name+" • "
                span(class=""+name_classes)= name
                span(class="text-xs ml-auto"+description_classes)= description

mixin pf_text({text, type, ref, width="1/2", text_classes="", padding} = {})
    +pf_div({width:width, paddings:padding, ref:ref})
        div(class="w-full items-start mt-1")
            if (type=="header")
                h1(class=""+text_classes)= text
            else if (type=="subheader")
                h2(class=""+text_classes)= text
            else if (type=="subsubheader")
                h3(class=""+text_classes)= text
            else 
                if (text_classes == "")
                    - text_classes = "md:text-lg"
                if text.includes("\n")
                    - text = text.replace(/\n/g, "<br>")
                p(class=""+text_classes).
                    !{text}