- var screen_3xl = "1920px" //REFER TO TAILWIND CONFIG
- var screen_md = "768px" //REFER TO TAILWIND CONFIG

include mixin_responsive_image.pug 

//- →
mixin a_ref(ref)
    if ref 
        a(href=ref).contents
            block 
    else 
        block

mixin pf_description({title, description, tools} = {})
     div.flexcon
        div(class="w-full md:w-full p-def-2")
            h1(class="text-left break-words")= title
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-def-2").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Tools used
        p(class="text-xl w-full md:w-3/4 p-def-2")= tools

mixin blog_description({title, description, tags, date} = {})
    div.flexcon
        div(class="w-full md:w-full p-def-2")
            h1(class="text-left break-words")= title
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Description
        p(class="text-xl w-full md:w-3/4 p-def-2").
            !{description}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Tags
        p(class="text-xl w-full md:w-3/4 p-def-2")
            each tag in tags
                a(href=`/Blog/tag/${tag}/`) ##{tag}
        p(class="text-xl w-full md:w-1/4 p-def-2") ↝ !{space(4)} Date
        p(class="text-xl w-full md:w-3/4 p-def-2")= date

mixin pf_div({width="1/2", paddings=" p-def-2 py-def", ref} = {})
    +a_ref(ref)
        div(class="w-full md:w-"+width+paddings)
            block

mixin handle_source({source, eval_aspect_ratio, has_sound, sizes, id} = {})
    if filters.is_video(source)
        video(class=eval_aspect_ratio+" w-full object-cover" loop controls=has_sound autoplay=!has_sound muted=!has_sound playsinline src=source id=id) 
    else if filters.is_svg(source)
        != filters.inline_svg("_site"+source)
    else if source != ""
        +responsive_image(source, sizes, id)(alt="" class=eval_aspect_ratio+" w-full object-cover")

mixin pf_img({name, source, ref, width="1/2", aspect_ratio="1/1", description, has_sound=false, name_classes="", description_classes="", blog=false, carousel_interval} = {})
    include _eval_ar_sizes.pug
    
    if (blog)
        - var paddings = " "
    +pf_div({width:width, paddings:paddings, ref:ref})
        - var is_carousel = Array.isArray(source)
        if is_carousel
            - var og_source = source
            - var hash_id = Math.random().toString(36).substring(7)
            - var carousel_id = 0
            each source in og_source
                +handle_source({source:source, eval_aspect_ratio:eval_aspect_ratio, has_sound:has_sound, sizes:sizes, id:hash_id+"-"+carousel_id})
                - carousel_id++
            +carousel_script({id:hash_id, interval:carousel_interval})
        else
            +handle_source({source:source, eval_aspect_ratio:eval_aspect_ratio, has_sound:has_sound, sizes:sizes})
        div(class="w-full items-start leading-none mt-1")
            if name
                if description
                    - name = name+" • "
                span(class=""+name_classes)= name
                span(class="text-xs"+description_classes)= description

mixin pf_text({text, type, ref, width="1/2", text_classes="", padding} = {})
    +pf_div({width:width, paddings:padding, ref:ref})
        div(class="w-full items-start mt-1")
            if (type=="header")
                h1(class=""+text_classes)= text
            else if (type=="subheader")
                h2(class=""+text_classes)= text
            else if (type=="subsubheader")
                h3(class=""+text_classes)= text
            else 
                if (text_classes == "")
                    - text_classes = "md:text-xl"
                p(class=""+text_classes).
                    !{text}